.banner {
    background-color: rgba(255,255,255, 0.08);
    padding: 4px;
    border-radius: 4px;
}

.banner-content {
    flex-direction: row;
    align-items: center;
}

.banner .unity-label {
    flex-grow: 1;
    flex-shrink: 1;
    white-space: normal;
}

.light .banner {
    background-color: rgba(0,0,0, 0.08);
}
